* {
	outline: 2px solid rgba(0,0,250,.3);
}
/*Estilos Generales*/
ul {
	padding: 0;
}
iframe{
	width: 100%;
}

/**/
#topbar {
	background: #424A5D;
	color:#fff;
}
/*PAG-GALLERY*/
.item-galeria {
	margin-bottom: 15px;
}