* {
	outline: 2px solid rgba(0,0,250,.3);
}
/*Estilos Generales*/
ul {
	padding: 0;
}
iframe{
	width: 100%;
}
.fa {
	margin-right: 5px!important; 
}

/**/
#topbar {
	background: #424A5D;
	color:#fff;
}
/*PAG LOGIN*/
.registration .btn {
	width: 100%;
}
.login-social-link button {
	margin:0px 5px 15px;
}

/*PAG GALLERY*/
.item-galeria {
	padding-right: 10%;
	margin-bottom: 2em; /*mejorar como se ve*/
}
/*PAG TABLES*/
.Tables h4.style-bottom {
	
}
.Tables table .btn {
	font-size: 75%;
	padding: 3px 5px;
}