* {
}
/*Estilos Generales*/
ul {
	padding: 0;
}
iframe{
	width: 100%;
}
.fa {
	margin-right: 5px!important; 
}

/**/
#topbar {
	background: #424A5D;
	color:#fff;
	min-height: 60px;
	z-index: 1002;
}
/*PAG LOGIN*/
.registration .btn {
	width: 100%;
}
.login-social-link button {
	margin:0px 5px 15px;
}

/*PAG GALLERY*/
.item-galeria {
	padding-right: 10%;
	margin-bottom: 2em; /*mejorar como se ve*/
}
/*PAG TABLES*/
.Tables h4.style-bottom {
	border-bottom: 1px solid #eff2f7;
	margin: -15px -15px 20px;
    padding: 25px 15px;
}
.Tables table .btn {
	font-size: 75%;
	padding: 3px 5px;
}